{% extends 'base.html' %}
<title>{% block title %}Liked Posts{% endblock %}</title>
{% block content %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
  <div class="wrap">
    <div class="div-block">
      <h1 class="title">Your Liked Posts</h1>
      <h3 class="sub-head">
          All the posts you liked while browsing
          <a href="https://spreadshare.co/stream/133"><br></a>
      </h3>
    </div>
    <div class="collection">
    {% if liked_post_list %}
          {% for post in liked_post_list %}
              <div class="collection-item">
                <a href="{{ post.source_link }}" target="_blank">
                      <img src="{{ MEDIA_URL }}{{ post.image }}" sizes="(max-width: 479px) 29vw, (max-width: 991px) 30vw, 290.390625px" alt="" class="post_img">
                </a>
                <h2 class="post_title">{{ post.title }}<br></h2>
                <p class="post_desc">
                    {{ post.content|truncatechars:200 }}
                </p>
                <a href="{% url 'posts:remove_from_like' post.pk %}">
                      <img src="{% static 'images/heart.png' %}" alt="" class="like_icon">
                </a>
                <a class="submit-button-2 w-button" href="{{ post.file.url }}">Download File</a>
              </div>
          {% endfor %}
      {% else %}
          <div class="collection-item">
            <h2 class="post_title">You have no liked post.<br></h2>
          </div>
      {% endif %}
    </div>
    {% include 'sources_tags.html' %}
  </div>
{% endblock %}