{% extends 'base.html' %}
<title>{% block title %}Category|{{ category.name }}{% endblock %}</title>
{% block content %}
{% load static %}
    <div class="wrap">
        <div class="div-block">
          <h1 class="ctg-title">{{ category.name }}</h1>
          <h3 class="sub-head">
              {{ category.posts.all.count }} items in this category
              <a href="https://spreadshare.co/stream/133"><br></a>
          </h3>
        </div>
        <div class="collection">
          {% for post in category.posts.all %}
              <div class="collection-item">
                <a href="{{ post.source_link }}" target="_blank">
                      <img src="{% static 'images/132.png' %}" sizes="(max-width: 479px) 29vw, (max-width: 991px) 30vw, 290.390625px" alt="" class="post_img">
                </a>
                <h2 class="post_title">{{ post.title }}<br></h2>
                <p class="post_desc">
                    {{ post.content|truncatechars:200 }}
                </p>
                {% if request.user.profile in post.liked.all %}
                    <a href="{% url 'posts:remove_from_like' post.pk %}">
                      <img src="{% static 'images/heart.png' %}" alt="" class="like_icon">
                    </a>
                {% else %}
                    <a href="{% url 'posts:add_to_like' post.pk %}">
                      <img src="{% static 'images/heart.svg' %}" alt="" class="like_icon">
                    </a>
                {% endif %}
              </div>
          {% endfor %}
        </div>
        {% include 'sources_tags.html' %}
    </div>
{% endblock %}