{% load static %}

  <div class="wrap">
    <div class="tags-row">
      <h3 class="tag-title">Top curators</h3>
      <div class="tags-block curators">
          {% for curator in curators_list %}
              <a href="{% url 'users:profile' curator.pk %}" class="curator_link_blog w-inline-block">
                  {% if curator.image %}
                    <img src="{{ curator.image.url }}" alt="" class="avator">
                  {% else %}
                    <img src="{% static 'images/Unknown.png' %}" alt="" class="avator">
                  {% endif %}
                  <h1 class="curator-name">{{ curator.name }}</h1>
                  <p class="curator-bio">{{ curator.bio }}<br></p>
              </a>
          {% endfor %}
      </div>
    </div>
  </div>