  <div class="section">
    <div class="wrap">
      <div class="newsletter">
        <div class="newsletter_left">
          <h4 class="heading">Subscribe to updates<br></h4>
          <p class="paragraph">Want to get the platform update? Subscribe right now with this form<br></p>
        </div>
        <div class="newsletter-form">
          <div class="form-block w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form">
                <label for="email"></label>
                <input type="email" class="newsletter-form-input w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email" id="email" required="">
                <input type="submit" value="Subscribe" data-wait="Please wait..." class="submit-button w-button">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>