{% extends 'base.html' %}
<title>{% block title %}Sign Up{% endblock %}</title>
{% block content %}
  <div class="wrap">
    <div class="div-block">
      <h1 class="title">Sign up for an account</h1>
      <h3 class="sub-head">
          Use the below form to sign up
          <a href="https://spreadshare.co/stream/133"><br></a>
      </h3>
      <div class="form-block-2 w-form">
        <form id="form" name="form" data-name="SignUp Form" action="." method="post">
            {% csrf_token %}
            <label for="name" class="field-label">Your Name</label>
            {{ form.name }}
            <label for="email" class="field-label">Email Address</label>
            {{ form.email }}
            <label for="password1" class="field-label">Password</label>
            {{ form.password1 }}
            <label for="password2" class="field-label">Password Confirmation</label>
            {{ form.password2 }}
            <button type="submit" data-wait="Please wait..." class="submit-button-2 w-button">Sign Up</button>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  {% include 'subscribe.html' %}
{% endblock %}